/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
    padding-right: 0px;
    padding-left: 0px;
}

h4 {
    margin-top: 25px;
}
.row {
    margin-bottom: 20px;
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
 * Callout styles copied from Bootstrap's main docs.
 */
/* Common styles for all types */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border-left: 3px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    height: inherit;
    position: relative;
}

.fixed{
    position: fixed;
    top: 0;
}

.fixed-lower-right{
    position:absolute;
    bottom:0;
    right:0;
}

.card-row{
    display: inline-block;
    width: 50%;
}

.scroll-outer{
    overflow: hidden;
}

.scroll-inner{
    overflow-y: auto;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.relative-center{
    margin: auto;
    position: center;
    top: 0; left: 0; bottom: 0; right: 0;

}

.center-bottom {
    position: fixed;
    bottom: 0;
}

.md-input-container .md-errors-spacer {
    min-height: 0;
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}

.green{
    color: lawngreen;
}