<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>LAB03</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/mainStyle.css"/>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controller/todoController.js"></script>
        <script src="/js/service/modalService.js"></script>
        <script src="/js/service/serverService.js"></script>
        <script src="/js/factory/todoFactory.js"></script>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

        <!-- Angular Material Icons -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(e) {
                var h = $('nav').height();
                $('body').animate({ paddingTop: h });
            });
        </script>

    </head>

    <body data-ng-app="myApp" data-ng-controller="indexController" data-ng-init="populate()">

    <nav class="navbar navbar-default navbar-fixed-top">
        <md-toolbar class="md-medium-tall" md-theme="dark-blue">
            <md-content class="row text-center">
                <p class="col-md-3 col-md-offset-1">TODO List</p>

                <div class="col-md-4 col-md-offset-4">

                    <md-button data-ng-click="addTodo()">
                        <i class="material-icons">search</i>
                    </md-button>


                    <md-button data-ng-click="addTodo()">
                        <i class="material-icons">add_circle</i>
                    </md-button>

                    <md-button data-ng-click="addTodo()">
                        <i class="material-icons">contact_mail</i>
                    </md-button>

                </div>

            </md-content>
        </md-toolbar>
    </nav>


    <div class="container container-full scroll-outer">

            <!--<div class="scroll-inner">-->

                <div class="card-row scroll-outer" style="height: 50%" data-ng-controller="todoController" data-ng-repeat="todo in todos track by $index">

                    <div style="height: 85%; width: 85%;" class="relative-center">
                    <md-card md-theme="dark-blue" class="scroll-outer relative-center" style="height: 100%">
                        <md-card-header>

                            <md-card-header-text class="text-center col-md-10">
                                <h2>{{todo.title}}</h2>
                            </md-card-header-text>

                            <md-button data-ng-click="removeTodo(todo)">
                                <i class="material-icons">delete_sweep</i>
                            </md-button>

                        </md-card-header>

                        <md-card-content class="scroll-inner" style="height: 70%">

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <md-checkbox aria-label="Select All"
                                                 data-ng-checked="allChecked(todo)"
                                                 md-indeterminate="isIndeterminated(todo)"
                                                 data-ng-click="toggleAll(todo)">
                                        <span data-ng-if="allChecked(todo)">Un-</span>Select All
                                    </md-checkbox>
                                </div>
                            </div>
                            <div data-ng-repeat="task in todo.tasks">

                                <div class="row row-eq-height">
                                    <div class="col-md-4 col-md-offset-2">
                                        <md-checkbox class="absolute-center" data-ng-checked="isChecked(task)" data-ng-click="toggle(todo, task)">
                                            {{ task.name }}
                                        </md-checkbox>
                                    </div>
                                    <div class="col-md-4 col-md-offset-2">
                                        <md-button class="absolute-center" data-ng-click="removeTask(todo, task)" aria-label="removeTask">
                                            <i class="material-icons md-18">delete</i>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </md-card-content>

                        <md-card-actions layout="row" layout-align="space-around center" style="position: relative">
                            <md-button data-ng-click="changeTitleModal($event, todo)">
                                <i class="material-icons">edit</i>
                            </md-button>
                            <md-button data-ng-click="addTaskModal($event, todo)">
                                <i class="material-icons">assignment</i>
                            </md-button>
                        </md-card-actions>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{percentageDone(todos[$index])}}%">
                                {{percentageDone(todo).toFixed(2)}}%
                            </div>
                        </div>

                    </md-card>
                    </div>

                </div>

                <div class="row" data-ng-mouseenter="toggleNavMenu()">
                    <div class="col-md-4 col-md-offset-4 text-center center-bottom">
                        <ul class="pagination pagination-lg" data-ng-repeat="pageNumber in getPageNumbers()">
                            <li data-ng-hide="!isHidden()">
                                <a data-ng-click="changeTodosToPage(pageNumber)">{{pageNumber}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </body>
</html>